.navbar {
  font-family: 'Roboto', sans-serif;
  color: #A7A7A7;
  background-color: #EBEBEB;
  padding: 5px 40px 0px 40px;  
}

nav .nav-item {
  padding-left: 35px; 
    text-align: right;
}

nav .social {
  padding: 15px 5px 0px 5px;
  text-align: right;
}

.btn-xl-red {
  font-family: 'Roboto', sans-serif;
  border: 0px solid;    
  border-radius: 0rem; 
  border-color: #000000;  
  
  font-size: 1.2rem;  
  background-color: #9A0000;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card {	
  border: 0px solid rgba(0,0,0,.125);      
  padding-left:30px;
  padding-right:30px;
}

.card-body { 
  padding: 0px;
}

.h3-custom {
  	font-family: 'Roboto', sans-serif;
	text-align:center;
	margin-top:25px;
	margin-bottom:25px;
	font-size: 1.2rem;  
}

.bordered-div {
  border: 1px solid;    
  border-radius: 0rem; 
  border-color: #000000; 
  padding:15px;
  height: 100%;
  width: 100%
}
